// --------------------------------------------------
// Mixins
// --------------------------------------------------

.stcircle {
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-radius: 100%;
  background: white;
  text-align: center;
  &.fa {
    color: black;
  }
  // &.animated {
  //   border-radius: 75% 100% 75% 100%;
  //   @include animation(stcircleanimated 2s infinite forwards);
  // }
}
$stcircleborderfraction: 2/16;
@mixin st-circle($size) {
  width: $size;
  height: $size;
  border-width: $size * $stcircleborderfraction;
  &.fa {
    font-size: 0.65 * $size * (1 - 2 * $stcircleborderfraction);
    &, &:before {
      line-height: $size * (1 - 2 * $stcircleborderfraction);
    }
  }
}
.stcircle-xs { @extend .stcircle; @include st-circle(20px) }
.stcircle-sm { @extend .stcircle; @include st-circle(40px) }
.stcircle-md { @extend .stcircle; @include st-circle(80px) }
.stcircle-lg { @extend .stcircle; @include st-circle(160px) }
.stcircle-xl { @extend .stcircle; @include st-circle(320px) }

@for $i from 0 through $grid-column-count {
  .stcircle-#{$i} {
    @extend .stcircle;
    @include st-circle($i * 40px);
  }
  span.stcircle-#{$i} {
    vertical-align: text-bottom;
  }
  .panel-heading > .stcircle-#{$i} {
    margin-top: -0.5 * $i * 40px;
    margin-bottom: 0.1 * $i * 40px;
  }
  .panel.stcircle-#{$i}-panel-spacer {
    margin-top: 0.5 * $i * 40px;
  }

  .well > .stcircle-#{$i} {
    margin-left: -1px * (19 + 0.50 * $i * 40); // 19 = padding of .well-lg
  }
  .well.stcircle-#{$i}-well-spacer {
    margin-left: 0.5 * $i * 40px;
  }
}