.no-margin {
  margin: 0;
}

header {
  z-index: 1;
}
// .js-media-player {
//   z-index: 0;
// }

.plyr__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  .plyr__progress {
    bottom: 0;
  }
}

