.no-margin {
  margin: 0;
}

body {
  overflow-x: hidden;
}

header {
  z-index: 1;
}
// .js-media-player {
//   z-index: 0;
// }

.plyr__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  .plyr__progress {
    bottom: 0;
  }
}

// Use white text on black top bar
.top-bar .menu {
  & .menu-text,
  & a {
    color: $white;
  }
  & > li.is-dropdown-submenu-parent > a::after {
    border-color: $white transparent transparent;
  }
}

h2 {
  text-decoration: underline;
}